In [1]:
from langchain_openai import ChatOpenAI
from langchain_core.tools import tool

@tool
def multiply(a: int, b: int) -> int:
    """Multiply two integers together."""
    return a * b

model = ChatOpenAI()
model_with_tools = model.bind_tools([multiply])

# Subsequent calls will include the tool schema
response = model_with_tools.invoke("What is 5 * 3?")
print(response)

content='' additional_kwargs={'tool_calls': [{'id': 'call_5mJF42tKywNXOCEPYXMD4dMT', 'function': {'arguments': '{"a": 5, "b": 3}', 'name': 'multiply'}, 'type': 'function'}], 'refusal': None} response_metadata={'token_usage': {'completion_tokens': 32, 'prompt_tokens': 54, 'total_tokens': 86, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-3.5-turbo-0125', 'system_fingerprint': None, 'id': 'chatcmpl-Bv6zabovD5FFPts2DslvaYL8oqHrq', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None} id='run--e7c1d72f-46c6-415a-8786-f9011c430b88-0' tool_calls=[{'name': 'multiply', 'args': {'a': 5, 'b': 3}, 'id': 'call_5mJF42tKywNXOCEPYXMD4dMT', 'type': 'tool_call'}] usage_metadata={'input_tokens': 54, 'output_tokens': 32, 'total_tokens': 86, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}

In [2]:
# Import main libraries
import os
import json
from bson.objectid import ObjectId
from dotenv import load_dotenv
import pandas as pd
import re
from typing import Annotated
from typing_extensions import TypedDict, List

# Import LLM, MongoDB etc.
from google import genai

from pymongo import MongoClient

In [3]:
# Connect to MongoDB using MONGODB_URI
client = MongoClient("mongodb+srv://insightone:D5taCard@insightone.gyugqqs.mongodb.net/?retryWrites=true&w=majority&appName=insightone")
db = client['insightone']  # Create/use a database named 'insightone'
metadata_full = db['metadata_full']  # Create/use a collection named 'metadata_full'

# Example: Ensure collection exists (MongoDB creates it on first insert)
print('Connected to MongoDB. airpsace DB and metadata collections are ready.')

Connected to MongoDB. airpsace DB and metadata collections are ready.

In [4]:
results = metadata_full.find({}, {"_id": 0})
tables = [doc for doc in results]

In [5]:
tables

[{'database': 'HR',
  'table': 'employees',
  'description': 'Stores employee personal and employment information',
  'constraints': {'primary_key': ['employee_id'],
   'foreign_keys': [{'column': 'department_id',
     'references_table': 'departments',
     'references_column': 'department_id'}]},
  'columns': [{'name': 'employee_id',
    'type': 'integer',
    'description': 'Unique identifier for each employee',
    'examples': [1001, 1002, 1003],
    'query_hint': 'WHERE employee_id = 1001'},
   {'name': 'department_id',
    'type': 'integer',
    'description': 'Department where employee works',
    'examples': [10, 20, 30],
    'query_hint': 'WHERE department_id IN (10,20)'},
   {'name': 'hire_date',
    'type': 'date',
    'description': 'Date when employee was hired',
    'examples': ['2020-01-15', '2018-06-22', '2022-03-10'],
    'query_hint': "WHERE hire_date > '2020-01-01'"},
   {'name': 'job_title',
    'type': 'varchar',
    'description': "Employee's current job position",
    'examples': ['Software Engineer', 'HR Manager', 'Data Analyst'],
    'query_hint': "WHERE job_title LIKE '%Engineer%'"}]},
 {'database': 'HR',
  'table': 'departments',
  'description': 'Organizational department structure and locations',
  'constraints': {'primary_key': ['department_id'], 'foreign_keys': []},
  'columns': [{'name': 'department_id',
    'type': 'integer',
    'description': 'Unique identifier for each department',
    'examples': [10, 20, 30],
    'query_hint': 'WHERE department_id BETWEEN 10 AND 30'},
   {'name': 'location_id',
    'type': 'integer',
    'description': 'Physical location of department',
    'examples': [500, 501, 502],
    'query_hint': 'WHERE location_id = 500'},
   {'name': 'department_name',
    'type': 'varchar',
    'description': 'Name of the department',
    'examples': ['Engineering', 'Human Resources', 'Finance'],
    'query_hint': "WHERE department_name = 'Engineering'"},
   {'name': 'budget_code',
    'type': 'varchar',
    'description': 'Financial budget allocation code',
    'examples': ['ENG-2023', 'HR-2023', 'FIN-2023'],
    'query_hint': "WHERE budget_code LIKE '%-2023'"}]},
 {'database': 'Medical',
  'table': 'patient_records',
  'description': 'Medical history and treatment records for patients',
  'constraints': {'primary_key': ['record_id'],
   'foreign_keys': [{'column': 'employee_id',
     'references_table': 'HR.employees',
     'references_column': 'employee_id'}]},
  'columns': [{'name': 'record_id',
    'type': 'uuid',
    'description': 'Unique identifier for medical record',
    'examples': ['a1b2c3d4-e5f6-7890', 'b2c3d4e5-f6g7-8901'],
    'query_hint': "WHERE record_id = 'a1b2c3d4-e5f6-7890'"},
   {'name': 'employee_id',
    'type': 'integer',
    'description': 'Employee identifier (links to HR system)',
    'examples': [1001, 1002, 1003],
    'query_hint': 'WHERE employee_id = 1001'},
   {'name': 'last_checkup_date',
    'type': 'date',
    'description': 'Date of most recent medical examination',
    'examples': ['2023-01-15', '2022-11-20', '2023-03-05'],
    'query_hint': "WHERE last_checkup_date BETWEEN '2023-01-01' AND '2023-03-31'"},
   {'name': 'health_risk_category',
    'type': 'varchar',
    'description': 'Classification of health risk level',
    'examples': ['Low', 'Medium', 'High'],
    'query_hint': "WHERE health_risk_category = 'High'"}]},
 {'database': 'Learning',
  'table': 'training_completions',
  'description': 'Records of employee training program completions',
  'constraints': {'primary_key': ['completion_id'],
   'foreign_keys': [{'column': 'employee_id',
     'references_table': 'enterprise_hr.employees',
     'references_column': 'employee_id'},
    {'column': 'course_id',
     'references_table': 'training_catalog',
     'references_column': 'course_id'}]},
  'columns': [{'name': 'employee_id',
    'type': 'integer',
    'description': 'Employee who completed training',
    'examples': [1001, 1002, 1003],
    'query_hint': 'WHERE employee_id = 1001'},
   {'name': 'course_id',
    'type': 'varchar',
    'description': 'Training course identifier',
    'examples': ['SAF-101', 'IT-205', 'MGMT-300'],
    'query_hint': "WHERE course_id LIKE 'SAF%'"},
   {'name': 'completion_date',
    'type': 'date',
    'description': 'Date when training was completed',
    'examples': ['2023-02-10', '2022-11-15', '2023-01-20'],
    'query_hint': "WHERE completion_date > '2023-01-01'"},
   {'name': 'certification_score',
    'type': 'decimal',
    'description': 'Final assessment score (0-100)',
    'examples': [85.5, 92.0, 78.3],
    'query_hint': 'WHERE certification_score >= 90.0'}]},
 {'database': 'Finance',
  'table': 'payroll_records',
  'description': 'Employee compensation and payment information',
  'constraints': {'primary_key': ['payroll_id'],
   'foreign_keys': [{'column': 'employee_id',
     'references_table': 'HR.employees',
     'references_column': 'employee_id'}]},
  'columns': [{'name': 'payroll_id',
    'type': 'integer',
    'description': 'Unique identifier for payroll record',
    'examples': [5001, 5002, 5003],
    'query_hint': 'WHERE payroll_id = 5001'},
   {'name': 'employee_id',
    'type': 'integer',
    'description': 'Employee identifier (links to HR system)',
    'examples': [1001, 1002, 1003],
    'query_hint': 'WHERE employee_id = 1001'},
   {'name': 'salary_amount',
    'type': 'decimal',
    'description': 'Base annual salary amount',
    'examples': [75000.0, 92000.0, 68000.0],
    'query_hint': 'WHERE salary_amount BETWEEN 70000 AND 90000'},
   {'name': 'last_payraise_date',
    'type': 'date',
    'description': 'Date of most recent salary adjustment',
    'examples': ['2022-07-15', '2023-01-10', '2021-12-01'],
    'query_hint': "WHERE last_payraise_date > '2022-01-01'"}]},
 {'database': 'Air',
  'table': 'safety',
  'description': 'Each record represents a single safety incident reported for aircraft operations, including failure parts, incident nature, precautionary actions, and contextual metadata such as date, location, and airline group/unit responsible.',
  'constraints': {'primary_key': ['report_id'], 'foreign_keys': []},
  'columns': [{'name': 'date',
    'type': 'DATE',
    'description': 'Date of the incident in YYYY-MM-DD format. Range: 2020-01-01 to 2020-12-31.',
    'examples': ['2020-01-15', '2020-06-30', '2020-11-05'],
    'query_hint': 'Useful for filtering incidents by time period or aggregating counts over days, months, or quarters.'},
   {'name': 'report',
    'type': 'TEXT',
    'description': 'A textual summary describing the incident details.',
    'examples': ['ENGINE FAILURE DURING TAKEOFF, FUEL LEAK DETECTED',
     'FUSELAGE CRACKED, EMERGENCY LIGHTS INOPERATIVE',
     'ZONE 100 CORRODED, UNSCHED LANDING REQUIRED'],
    'query_hint': "Use LIKE or full-text search for keywords (e.g., 'ENGINE', 'FUEL')."},
   {'name': 'part_failure',
    'type': 'VARCHAR',
    'description': 'Specific part or system that failed during the incident.',
    'examples': ['FUSELAGE CRACKED',
     'ZONE 100 CORRODED',
     'EMERGENCY LIGHTS INOPERATIVE'],
    'query_hint': "Can be used to group or filter incidents by specific failure types (e.g., WHERE part_failure LIKE '%ZONE%')."},
   {'name': 'occurence_nature_condition',
    'type': 'VARCHAR',
    'description': 'Describes the nature or condition of the incident occurrence, representing the type or symptoms observed.',
    'examples': ['OTHER',
     'WARNING INDICATION',
     'NO TEST',
     'SMOKE/FUMES/ODORS/SPARKS',
     'FALSE WARNING',
     'FLUID LOSS',
     'FLT CONT AFFECTED'],
    'query_hint': 'Useful for categorizing incidents by severity or symptomatology.'},
   {'name': 'occurence_precautionary_procedures',
    'type': 'VARCHAR',
    'description': 'Records any precautionary or emergency procedures taken in response to the incident.',
    'examples': ['UNSCHED LANDING',
     'ABORTED TAKEOFF',
     'RETURN TO BLOCK',
     'EMER. DESCENT',
     'ENGINE SHUTDOWN',
     'ABORTED APPROACH',
     'DEACTIVATE SYST/CIRCUITS'],
    'query_hint': 'Useful to assess safety responses and actions triggered by incidents.'},
   {'name': 'location',
    'type': 'VARCHAR',
    'description': 'The country where the incident took place.',
    'examples': ['Singapore',
     'Australia',
     'France',
     'Thailand',
     'Brunei',
     'United State'],
    'query_hint': 'Examples showns are the only valid locations in the database. Do not use args other than those'},
   {'name': 'airline_group',
    'type': 'VARCHAR',
    'description': 'The airline group or company responsible for the aircraft.',
    'examples': ['SkyHigh Airways',
     'AeroExpress',
     'Pacific Aero',
     'NimbusJet'],
    'query_hint': 'Examples showns are the only valid airline group in the database. Do not use args other than those'},
   {'name': 'unit',
    'type': 'VARCHAR',
    'description': 'Specific operational unit within the airline group accountable for the aircraft or incident. Each unit belongs uniquely to one group.',
    'examples': ['SH Operations - East',
     'SH Fleet A',
     'AE Regional Hub 1',
     'AE Long Haul Division',
     'PA Crew Team Alpha',
     'PA Engineering',
     'NJ International Ops',
     'NJ Domestic Base',
     'SH Flight Ops HQ',
     'AE Maintenance Unit',
     'PA Ops Central',
     'NJ Line Services'],
    'query_hint': 'Examples showns are the only valid airline group in the database.  Do not use args other than those'},
   {'name': 'aircraft_type',
    'type': 'VARCHAR',
    'description': 'the type of aircraft involved in the safety incident',
    'examples': ['Airbus',
     'Boeing',
     'Hawker',
     'Bombardier',
     'Douglas',
     'Fokker',
     'Gulfstream',
     'Hercules',
     'Cessna',
     'Convair',
     'Embraer',
     'Avro'],
    'query_hint': 'Examples showns are the only valid aircraft type in the database.  Do not use args other than those'}]}]

In [13]:
[doc["database"] for doc in metadata_full.find({}, {"_id": 0, "database": 1})]

['HR', 'HR', 'Medical', 'Learning', 'Finance']

In [19]:
from langchain.agents import tool
from langchain_openai import ChatOpenAI
from langchain.agents import AgentExecutor, create_react_agent
from langchain.prompts import ChatPromptTemplate
from langgraph.graph import END, StateGraph
from pymongo import MongoClient
import os

# Environment setup
MONGO_URI = "your-mongodb-connection-string"

# Connect to MongoDB
client = MongoClient("mongodb+srv://insightone:D5taCard@insightone.gyugqqs.mongodb.net/?retryWrites=true&w=majority&appName=insightone")
db= client['insightone']  # use appropriate DB name
collection = db["metadata_full"]

# Define tool: query MongoDB for metadata
def get_table_names(query: str) -> str:
    """Query MongoDB metadata collection to return matching table names."""
    try:
        results = collection.find({}, {"_id": 0, "table": 1})
        tables = [doc["table"] for doc in results]
        return f"Available tables: {', '.join(tables)}"
    except Exception as e:
        return f"Error querying MongoDB: {str(e)}"

def get_column_names(table_name: str) -> str:
    """Return sample columns from the given table name."""
    result = collection.find_one({"table": table_name})
    if result:
        columns = result.get("columns", [])
        return f"Columns in {table_name}: {', '.join(columns)}"
    return f"Table '{table_name}' not found."

tools = [get_table_names, get_column_names]

In [8]:
from langchain_core.tools import tool

def multiply_func(a: int, b: int) -> int:
    """Multiply two integers."""
    return a * b

multiply_tool = tool(multiply_func)

print(multiply_func(2, 3))     # ✅ 6
print(multiply_tool.invoke({"a": 2, "b": 3}))  # ✅ 6

6
6